<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href="~/Content/Style.css" rel="stylesheet" />
   
</head>
<body>
    <div class="login-container">
        <h1>Login</h1>
       
            <div class="input-group">
                <label for="username">Username</label>
                <input type="text" id="txtUsername" name="username" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="txtpassword"  name="password" required>
            </div>
            <button onclick="GetLogin()">Login</button>
        </form>
    </div>
    <script src="~/Scripts/PageScripts/index.js"></script>
</body>
</html>
